# Pratical-1
Write   a   Python   program   to   get   a   list,   sorted   in increasing order by the last element in each tuple from a given list of non-empty tuples. Go to the editor
Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [2]:
def Sort_Tuple(tup):  
    tup.sort(key = lambda x: x[1])  
    return tup  
t1 = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]  
  
print(Sort_Tuple(t1))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

# Practical-2
Write a Python script to 
1)sort  (ascending  and  descending)  a  dictionary by value.
2)to remove duplicates from Dictionary

In [8]:
import operator
dict1 = {'key1': 30, 'key2': 14, 'key3': 14, 'key4': 1, 'key5': 10}
temp = [] 
distinct_dict = dict() 
print('Dictionary Before Sorting: ',dict1)
sortAsc = dict(sorted(dict1.items(), key=operator.itemgetter(1)))
sortDes = dict( sorted(dict1.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary After Sorting in ascending order by value is: ',sortAsc)
print('Dictionary After Sorting in descending order by value is: ',sortDes)
for key, val in dict1.items(): 
    if val not in temp: 
        temp.append(val) 
        distinct_dict[key] = val 
print("The dictionary after values removal : " + str(distinct_dict))

Dictionary Before Sorting:  {'key1': 30, 'key2': 14, 'key3': 14, 'key4': 1, 'key5': 10}
Dictionary After Sorting in ascending order by value is:  {'key4': 1, 'key5': 10, 'key2': 14, 'key3': 14, 'key1': 30}
Dictionary After Sorting in descending order by value is:  {'key1': 30, 'key2': 14, 'key3': 14, 'key5': 10, 'key4': 1}
The dictionary after values removal : {'key1': 30, 'key2': 14, 'key4': 1, 'key5': 10}

# Pratical-3
Write a Python program 1)to convert a tuple to a string.2)to convert a tuple toa dictionary.

In [10]:
import functools
import operator

def convertToString(tup):
    return functools.reduce(operator.add, (tup))
def convertToDict(tup):
    return dict((x, y) for x, y in tup)

t1 = ('S', 'U', 'D', 'I', 'P')
t2 = (('name', 'sudip'), ('enroll', 17))
str = convertToString(t1)
dict1 = convertToDict(t2)
print("Converted String Is: \n", str)
print("Converted Dictionary Is: \n", dict1)

Converted String Is:
 SUDIP
Converted Dictionary Is:
 {'name': 'sudip', 'enroll': 17}

# Practical-4
Write a Pandas program 1)to select the specified columns and rows from a given data frame2)to drop a list of rows from a    specified DataFrame

In [14]:
import pandas as pd
sample_data = pd.DataFrame({'Roll':[17,20,26,22,23,28], 'Name':['sudip','raj','jay','bhavyesh','preet','ayush'], 'Marks':[84,94,89,83,86,80]})
sample_data

   Roll      Name  Marks
0    17     sudip     84
1    20       raj     94
2    26       jay     89
3    22  bhavyesh     83
4    23     preet     86
5    28     ayush     80

In [24]:
sample_data[sample_data.columns[1:3]].iloc[2:4]

       Name  Marks
2       jay     89
3  bhavyesh     83

In [20]:
sample_data.drop(sample_data.index[1])

   Roll      Name  Marks
0    17     sudip     84
2    26       jay     89
3    22  bhavyesh     83
4    23     preet     86
5    28     ayush     80

# Pratical-5
Write a Pandas program to find the row for where the value of a given column is maximum

In [31]:
print(sample_data)
print("\nRow where column(Marks) has maximum value is:\n")
print(sample_data.loc[sample_data['Marks'].argmax()])

   Roll      Name  Marks
0    17     sudip     84
1    20       raj     94
2    26       jay     89
3    22  bhavyesh     83
4    23     preet     86
5    28     ayush     80

Row where column(Marks) has maximum value is:

Roll      20
Name     raj
Marks     94
Name: 1, dtype: object